In [1]:
from dask.distributed import Client, progress
client = Client(processes=False, threads_per_worker=4,
                n_workers=1, memory_limit='4GB')
client

In [2]:
import s3fs

In [4]:
fs = s3fs.S3FileSystem(anon=True)
fs.ls('mit805assignment1/read/Loan Stats Data.csv')

['mit805assignment1/read/Loan Stats Data.csv']

In [5]:
import pandas as pd
import numpy as np

In [6]:
dtypes={'id':str,'member_id': str,'loan_amnt':float,'funded_amnt': float,"funded_amnt_inv":float,"term": str, 
       'int_rate':  str, 'installment': float,'grade': str,'sub_grade': str,'emp_title': str,'emp_length': str,
       'home_ownership': str,'annual_inc': float,'verification_status': str,'issue_d': str,'loan_status': str, 
       'pymnt_plan':str,'url': str,'desc': str,'purpose': str,'title': str,'zip_code':str,'addr_state':str,
       'dti': float,'delinq_2yrs': str,'earliest_cr_line': str,'fico_range_low': str,'fico_range_high': float,
       'inq_last_6mths':float,'mths_since_last_delinq': float,'mths_since_last_record':float,'open_acc':str,
       'pub_rec':str,'revol_bal':str,'revol_util': str,'total_acc': str,'initial_list_status':str,'out_prncp':str,
       'out_prncp_inv':str,'total_pymnt': str,'total_pymnt_inv':str,'total_rec_prncp':str,'total_rec_int':str,
       'total_rec_late_fee':str,'recoveries': str,'collection_recovery_fee':str,'last_pymnt_d':str,'last_pymnt_amnt':str,
       'next_pymnt_d':str,'last_credit_pull_d': str,'last_fico_range_high': str,'last_fico_range_low': str,
       'collections_12_mths_ex_med': str,'mths_since_last_major_derog':str,'policy_code':str,'application_type':str,
       'annual_inc_joint': str,'dti_joint': str,'verification_status_joint': str,'acc_now_delinq': str,'tot_coll_amt': str,
       'tot_cur_bal': str,'open_acc_6m': str,'open_act_il': str,'open_il_12m': str,'open_il_24m': str,
       'mths_since_rcnt_il': str,'total_bal_il': str,'il_util': str,'open_rv_12m': str,'open_rv_24m':  str,
       'max_bal_bc': str,'all_util': str,'total_rev_hi_lim':str,'inq_fi': str,'total_cu_tl': str,
       'inq_last_12m': str,'acc_open_past_24mths': str,'avg_cur_bal': str,'bc_open_to_buy': str,'bc_util': str,
       'chargeoff_within_12_mths': str,'delinq_amnt': str,'mo_sin_old_il_acct': str,'mo_sin_old_rev_tl_op': str,
       'mo_sin_rcnt_rev_tl_op': str,'mo_sin_rcnt_tl': str,'mort_acc': str,'mths_since_recent_bc': str,
       'mths_since_recent_bc_dlq': str,'mths_since_recent_inq': str,'mths_since_recent_revol_delinq': str,
       'num_accts_ever_120_pd': str,'num_actv_bc_tl': str,'num_actv_rev_tl': str,'num_bc_sats': str,'num_bc_tl': str,'num_il_tl': str,'num_op_rev_tl': str,'num_rev_accts': str,'num_rev_tl_bal_gt_0': str, 'num_sats': str,'num_tl_120dpd_2m': str,'num_tl_30dpd': str,'num_tl_90g_dpd_24m': str, 'num_tl_op_past_12m': str,'pct_tl_nvr_dlq': str,'percent_bc_gt_75': str,'pub_rec_bankruptcies': str,'tax_liens': str,'tot_hi_cred_lim': float,'total_bal_ex_mort': str,'total_bc_limit': str,'total_il_high_credit_limit': str,'revol_bal_joint': str,'sec_app_fico_range_low': str,'sec_app_fico_range_high': str,'sec_app_earliest_cr_line': str,'sec_app_inq_last_6mths':str,'sec_app_mort_acc':str,'sec_app_open_acc': str,'sec_app_revol_util': str,'sec_app_open_act_il': str,'sec_app_num_rev_accts': str,'sec_app_chargeoff_within_12_mths': str,'sec_app_collections_12_mths_ex_med': str,'sec_app_mths_since_last_major_derog': str,'hardship_flag': str,'hardship_type': str,'hardship_reason': str,'hardship_status': str,'deferral_term': str,'hardship_amount': str,'hardship_start_date': str,'hardship_end_date': str,'payment_plan_start_date': str, 'hardship_length': str,'hardship_dpd': str,'hardship_loan_status': str,'orig_projected_additional_accrued_interest': str,'hardship_payoff_balance_amount': str,'hardship_last_payment_amount': str,'debt_settlement_flag': str,'debt_settlement_flag_date': str,'settlement_status': str,'settlement_date': str,'settlement_amount': float,'settlement_percentage': float,'settlement_term':str}



with fs.open('mit805assignment1/read/Loan Stats Data.csv', 'rb') as f:
     df = pd.read_csv(f,sep=";",dtype=dtypes,nrows=500000)

Determining the percentage of missing values in each column

In [7]:
df_count_na=df.isna()

df_count_na_sum=df_count_na.sum()

Percent_NA=df_count_na_sum/len(df)

From the columns with missing values which columns have na's which are more than 30%.

In [8]:
df_count_na_30=Percent_NA>0.30

df_count_na_30_index=df_count_na_30.tolist()

index_missing=np.where(df_count_na_30_index)[0]

index_to_remove=index_missing.tolist()
 
list_col_to_remove=[]

columns= df.columns.tolist()

for i in index_to_remove:
    add=columns[i]
    list_col_to_remove.append(add)
    
list_col_to_remove

['member_id',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

Drop all columns with na's greater than 30%

In [9]:
Loan_df=df.drop(list_col_to_remove, axis=1)

After analysis of the remaining data set the attributes which are collected at origination of loan or when the borrower apply or the loan are kept. As this data is used to clusters the Borrowers using the attributes. 
The following attributes that will have predictive power:
* Loan amount,
* Funded amount
* Funded amount invested
* Term
* interest reat
* installment
* grade
* empoyment length
* Home ownership
* annual income
* veriication status
* issue date
* loan status
* debt to intcome ratio
* open accounts
* total accounts
* application type
* public bankruptcy record
* tax liens

In [10]:
Loan_df=Loan_df[['loan_amnt', 'funded_amnt','funded_amnt_inv','term','int_rate',
                 'installment','grade','emp_length','home_ownership',
                 'annual_inc','verification_status','issue_d', 'loan_status','dti',
                 'open_acc','total_acc','application_type','pub_rec_bankruptcies',
                 'tax_liens']]

In [11]:
## The structure and data type of the reduced column loan data
Loan_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             499999 non-null  float64
 1   funded_amnt           499999 non-null  float64
 2   funded_amnt_inv       499999 non-null  float64
 3   term                  499999 non-null  object
 4   int_rate              499999 non-null  object
 5   installment           499999 non-null  float64
 6   grade                 499999 non-null  object
 7   emp_length            456535 non-null  object
 8   home_ownership        499962 non-null  object
 9   annual_inc            499962 non-null  float64
 10  verification_status   499962 non-null  object
 11  issue_d               499962 non-null  object
 12  loan_status           499962 non-null  object
 13  dti                   498896 non-null  float64
 14  open_acc              499962 non-null  object
 15  total_acc             499962 non-null  object
 16  application_type      499962 non-null  object
 17  pub_rec_bankruptcies  499962 non-null  object
 18  tax_liens             499962 non-null  object
dtypes: float64(6), object(13)
memory usage: 72.5+ MB

In [11]:
Loan_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti
count,499999.000000,499999.000000,499999.000000,499999.000000,4.999620e+05,498896.000000
mean,16493.741887,16493.741887,16491.451257,476.216868,8.656529e+04,21.037658
std,10376.822402,10376.822402,10377.024714,291.953216,1.063594e+05,20.028553
min,1000.000000,1000.000000,725.000000,30.640000,0.000000e+00,0.000000
25%,8500.000000,8500.000000,8500.000000,259.450000,5.000000e+04,12.870000
50%,14500.000000,14500.000000,14500.000000,398.210000,7.000000e+04,19.160000
75%,23212.500000,23212.500000,23200.000000,642.300000,1.010000e+05,26.410000
max,40000.000000,40000.000000,40000.000000,1671.880000,9.999999e+06,999.000000

We convert the oject variable interest rate, open account, total account, public bankruptcy records and tax liens to float type

In [12]:
Loan_df['pub_rec_bankruptcies']=Loan_df['pub_rec_bankruptcies'].astype(float)  
Loan_df['tax_liens']=Loan_df['tax_liens'].astype(float)
Loan_df['open_acc']=Loan_df['open_acc'].astype(float)
Loan_df['total_acc']=Loan_df['total_acc'].astype(float)

In [13]:
Loan_df['int_rate']=Loan_df['int_rate'].astype(str)
Loan_df['int_rate']= Loan_df['int_rate'].str.replace("%", "", case = False)
Loan_df['int_rate']= Loan_df['int_rate'].astype(float)

In [14]:
Loan_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,open_acc,total_acc,pub_rec_bankruptcies,tax_liens
count,499999.000000,499999.000000,499999.000000,499999.000000,499999.000000,4.999620e+05,498896.000000,499962.000000,499962.000000,499962.000000,499962.0
mean,16493.741887,16493.741887,16491.451257,12.936451,476.216868,8.656529e+04,21.037658,11.901272,23.513061,0.101350,0.0
std,10376.822402,10376.822402,10377.024714,5.038423,291.953216,1.063594e+05,20.028553,6.050611,12.401852,0.307009,0.0
min,1000.000000,1000.000000,725.000000,6.000000,30.640000,0.000000e+00,0.000000,0.000000,2.000000,0.000000,0.0
25%,8500.000000,8500.000000,8500.000000,8.460000,259.450000,5.000000e+04,12.870000,8.000000,15.000000,0.000000,0.0
50%,14500.000000,14500.000000,14500.000000,12.400000,398.210000,7.000000e+04,19.160000,11.000000,21.000000,0.000000,0.0
75%,23212.500000,23212.500000,23200.000000,16.120000,642.300000,1.010000e+05,26.410000,15.000000,30.000000,0.000000,0.0
max,40000.000000,40000.000000,40000.000000,30.990000,1671.880000,9.999999e+06,999.000000,104.000000,171.000000,7.000000,0.0

## Transforming categorical variables

#### 1. Employment Length, Currently the attribute has 10 categories we reudce them to 4: 
* <1
* 1-4 years
* 5-9 years
* 10+ years

In [15]:
def C(row):
    if(row['emp_length']=='1 year' or row['emp_length']=='2 years' or 
       row['emp_length']=='4 years' or row['emp_length']=='3 years'):
        val="1-4 years"
    elif(row['emp_length']=='5 years' or row['emp_length']=='6 years' 
         or row['emp_length']=='7 years' or row['emp_length']=='8 years' or
         row['emp_length']=='9 years'):
        val="5-9 years"
    elif(row['emp_length']=='10+ years'):
        val='10+ years'
    else:
        val="< 1 year"
    return val

Loan_df['emp_length']=Loan_df.apply(C,axis=1)

Loan_df.emp_length.unique()

array(['< 1 year', '1-4 years', '10+ years', '5-9 years'], dtype=object)

#### 2. Home ownership Length, Currently the attribute has 4 categories we reudce them to 3:
* Mortgage
* Rent
* Own

In [16]:
def Ownership(row):
    if(row['home_ownership']=='MORTGAGE'):
        val="MORTGAGE"
    elif(row['home_ownership']=='RENT' or row['home_ownership']=='ANY' 
         or row['home_ownership']=='NONE'):
        val="RENT"
    else:
        val="OWN "
    return val

Loan_df['home_ownership']=Loan_df.apply(Ownership,axis=1)

Loan_df.home_ownership.unique()

array(['OWN ', 'MORTGAGE', 'RENT'], dtype=object)

#### 3. Verification Status, Currently the attribute has 3 categories we reudce them to 2 Yes and No:

In [17]:
def Verified(row):
    if(row['verification_status']=='Verified' or row['verification_status']=='Source Verified'):
        val="Yes"
    else:
        val="No"
    return val

Loan_df['verification_status']=Loan_df.apply(Verified,axis=1)
Loan_df.verification_status.unique()

array(['Yes', 'No'], dtype=object)

#### 4. Loan Status, Currently the attribute has 6 categories we reudce them to 4:
* Current
* Fully Paid
* Late
* Default

In [18]:
def LoanStatus(row):
    if(row['loan_status']=='Current' or row['loan_status']=='Issued'):
        val="Current"
    elif(row['loan_status']=='Fully Paid'):
        val="Fully Paid"
    elif(row['loan_status']=='In Grace Period' or row['loan_status']=='Late (31-120 days)'
         or row['loan_status']=='Late (16-30 days)' ):
        val='Late'
    else:
        val="Default"
    return val

Loan_df['loan_status']=Loan_df.apply(LoanStatus,axis=1)
Loan_df.loan_status.unique()

array(['Current', 'Fully Paid', 'Late', 'Default'], dtype=object)

#### 4. Application Type, Currently the attribute has 3 categories we reudce them to 2:
* Joint App
* Individual

In [19]:
def AppType(row):
    if(row['application_type']=='Joint App'):
        val="Joint App"
    else:
        val="Individual"
    return val

Loan_df['application_type']=Loan_df.apply(AppType,axis=1)
Loan_df.application_type.unique()

array(['Individual', 'Joint App'], dtype=object)

In [20]:
Loan_df['grade'].fillna('D', inplace=True) #The remaining % of missing values in grade will be assigned lowest grade

#### 5. Storing the transformed data in csv format in S3 bucket

In [21]:
Store=s3fs.S3FileSystem(anon=True)
Store.ls('mit805assignment1/write')

['mit805assignment1/write/']

In [26]:
from io import StringIO 
import boto3

bucket = 'mit805assignment1'
csv_buffer = StringIO()
Loan_df.to_csv(csv_buffer)
s3_resource = boto3.resource('s3',aws_access_key_id='AKIAJ5WLY6GFFLI426OQ',
         aws_secret_access_key= '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')
s3_resource.Object(bucket, 'Loan_df.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'D7D3EF6F521B75A1',
  'HostId': '9hLo1i2Z012TVkkfEZGo5vM9gxxIkzVWegnRyUkq9RUWp/RJyLcv7hZ2QfTO1iGwbbVK5BqGZYU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '9hLo1i2Z012TVkkfEZGo5vM9gxxIkzVWegnRyUkq9RUWp/RJyLcv7hZ2QfTO1iGwbbVK5BqGZYU=',
   'x-amz-request-id': 'D7D3EF6F521B75A1',
   'date': 'Mon, 14 Sep 2020 17:13:25 GMT',
   'x-amz-version-id': 'N1rJ6vi_z._SWsHZV3qyrT5mWOjrU7qA',
   'etag': '"b322be86480555e79a219ef9b6efb699"',
   'content-length': '0',
   'server': 'AmazonS3',
   'connection': 'close'},
  'RetryAttempts': 1},
 'ETag': '"b322be86480555e79a219ef9b6efb699"',
 'VersionId': 'N1rJ6vi_z._SWsHZV3qyrT5mWOjrU7qA'}